<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Movimientos de Empleados</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</head>

<body>


	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Movimientos de Empleados</h1>
				<div class="card-body">
					<form th:action="@{/empleados/{id}(id=${empleado.id})}" th:object="${empleado}" method="POST">
						<div class="form-group">
							<label>Número de empleado:</label>
							<input type="text" name="id" th:field="*{id}" class="form-control"
								placeholder="Digite su numero" required>
						</div>
					
						<div class="form-group">
							<label>Nombre :</label>
							<input type="text" name="nombre" th:field="*{nombre}" class="form-control"
								placeholder="Digite su nombre" required>
						</div>

						<!--<div class="form-group">
							<label>Rol :</label>
							<input type="text" name="rol" th:field="*{rolfk.idrol}" class="form-control"
								placeholder="Digite su rol">
						</div>-->
						
						<div>
							<label>Rol :</label>
							<select th:field="*{rolfk}" class="form-control" id="dropDownList">
								<option th:each="listaRole : ${listaRole}" 
									th:value="${listaRole.idrol}" 
									th:text="${listaRole.nombrerol}"></option>
							</select>
						</div> 
						
						<div class="form-group">
							<label>Mes :</label>
							<input type="text" name="mes" class="form-control" placeholder="Enero">
						</div>
					

						<div class="form-group">
							<label>Cantidad de entregas :</label>
							<input type="text" name="entrega" th:field="*{entrega}" class="form-control"
								placeholder="Digite la cantidad de entregas" required>
						</div>
						
					


						<!--<div>
							<select class="form-control" id="dropDownList">
								<option value="0">select option</option>
								<option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
							</select>
						</div>-->
						<!--<label>Rol :</label>
							<select th:field="*{nombrerol}" class="form-control" id="dropDownList">
								
								<option value="2">2</option>
								<option value="1">1</option>
								<option th:each="lisRol : ${listaRol}" 
									th:value="${lisRol.nombrerol}" 
									th:text="${lisRol.nombrerol}"></option>
							</select>
						</div>-->

						<br>
						<div class="box-footer">
							<button class="btn btn-success"> Guardar</button>
							<a th:href="@{/empleados}" class="btn btn-secondary">Cancelar</a>
						</div>


					</form>

				</div>
			</div>


		</div>

	</div>




</body>

</html>